@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*giving appropriate values to the entire body*/
body {
  font-family: 'Roboto Mono', monospace;
  background-color: ;
  background-image: url('cool-background4.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.caption{
  color: #EFE6DD;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  width: 70%;
  /*background-color: #6cb595;*/
  /*background-color: #800000;*/
  background-color: #800080;
  margin-left: auto;
  margin-right: auto;
}

.first-video{
  width: 80%;
  padding-top: 20px;
  display: block;
  margin: 0 auto;
}

h2{
  color: black;
  text-align: center;
}

a{
  color: black;
}

@media(max-width: 900px) {

    .caption{
      padding: 2px;
    }

    .first-video{
      width:90%;
      padding-top: 20px;
    }

    body{
      background-color: #ffde59;
      padding-top: 100px;
    }

    h2{
      padding-top: 10px;
    }
}


.container{
  position: relative;
}

.container .fa-volume-off{
  position: absolute;
  top: 90%;
  right: 12.5%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: right;
  font-size: 4.5vw;
  letter-spacing: 1px;
  color: #F9F5EC;
  display: block;
}

.container .fa-volume-up{
  position: absolute;
  top: 90%;
  right: 10%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: right;
  font-size: 4.5vw;
  letter-spacing: 1px;
  color: #F9F5EC;
  display: none;
}
.container .fa-play{
  position: absolute;
  top: 90%;
  left: 14.5%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: right;
  font-size: 4.5vw;
  letter-spacing: 1px;
  color: #F9F5EC;
  display: none;
}

.container .fa-pause{
  position: absolute;
  top: 90%;
  left: 14.5%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: right;
  font-size: 4.5vw;
  letter-spacing: 1px;
  color: #F9F5EC;
  display: block;
}
